:root {
  --FuentePrincipal: "Courier Prime", monospace;
}
* {
  margin: 0px;
  padding: 0px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: #222;
  font-size: 2rem;
  font-family: var(--FuentePrincipal);
}
.cont_login {
  width: auto;
  max-width: 100rem;
  margin: 2rem auto;
  gap: 5px;
  border-left: 11px solid rgb(255, 255, 255);
  border-right: 11px solid rgb(255, 255, 255);
}
.title {
  font-family: monospace;
  text-align: center;
  width: auto;
  background-color: rgb(74, 74, 241);
  align-content: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-style: italic;
  color: white;
  font-size: 3.5rem;
}
.title h1 {
  margin-left: 2rem;
}
.request {
  width: 50%;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 1rem;
}
label {
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: 3px;
  background-color: rgba(234, 224, 245, 0.131);
  padding: 15px;
  border-radius: 5px;

}
input {
  height: 50px;
  width: 50%;
  outline: none;
  padding: 15px;
  background: transparent;
  border: unset;
  text-align: center;
  margin: 0 auto;
  color: white;
}
input:focus {
  border-bottom: 3px solid rgb(219, 205, 205);
  border-radius: 5px;
  transform: scale(1.05);
}
input::placeholder {
  text-transform: capitalize;
  color: white;
}
.Seccion_categoria {
  max-width: 100rem;
  margin: auto;
}
.categorias {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  padding: 5px;
  height: auto;
  gap: 15px 10px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  justify-content: space-around;
}
.seleccion {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  padding: 15px;
  width: 98%;
  border-left: 5px solid white;
  border-right: 5px solid white;
}
button {
  outline: none;
  padding: 15px;
  cursor: pointer;
  letter-spacing: 5px;
  text-transform: capitalize;
  color: #222;
  border-radius: 5px;
  background-color: rgb(31, 237, 20);
  border: 1px solid black;
  font-weight: bold;
  max-height: 50px;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 4px 1px white;
  border: none;
}
.categoria_title {
  margin-top: 5rem;
  padding: 5px;
  color: #eee;
  font-size: 3rem;
  letter-spacing: 3px;
  width: 80%;
  margin: auto;
}
.categoria_campo {
  overflow: hidden;
  border: 1px solid black;
  width: 28rem;
  min-height: 45rem;
  padding: 10px;
  color: transparent;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 3px;
  transition: ease-out 0.5s;
  background-image: url(img/HD-wallpaper-loading-dont-him-jokes-losing-love-note-password-screen-serious-status.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.categoria_campo:hover {
  overflow: hidden;
  transition: ease 0.5s;
  box-shadow: 0px 0px 13px 2px rgb(206, 204, 187);
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.589);
}
h2 {
  text-align: center;
  letter-spacing: 3px;
}
h3 {
  letter-spacing: 8px;
  text-align: center;
  text-shadow: 0px 0px 10px #222;
}
/*Parte al enviar el contenido al servidor*/
.bg-title {
  text-align: center;
  font-size: 30px;
  color: white;
  box-shadow: 0px 0px 5px 1px black;
  padding: 5px;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}
.title_2:hover {
  color: rgb(255, 255, 255);
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
  max-width: 100rem;
  width: auto;
  margin: 1rem auto;
  gap: 10px;
  padding: 15px;
  justify-content: space-between;
}
.campo {
  flex-grow: 1;
  padding: 15px;
  flex-basis: 30rem;
  height: auto;
  box-shadow: 0px 0px 5px 1px black;
}
.campo:hover {
  box-shadow: 0px 0px 5px 1px rgb(255, 255, 255);
  transform: scale(1.02);
}
.campo_imagen {
  padding: 10px;
  object-fit: contain;
}
.campo_descripcion {
  margin-top: 1rem;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
  width: 100%;
  height: 26rem;
  border-bottom-right-radius: 10px;
}
img {
  width: 100%;
  border-radius: 5px;
  height: auto;
  border: 3px dotted black;
}
@media (min-width: 300px) and (max-width:40rem){
  .cont_login {
    width: 95%;
    padding: 5px;
  }
  .title {
    font-size: 19px;
  }
  h1 {
    text-align: center;
  }
  .categoria_campo {
    height: 60rem;
    flex-grow: 1;
  }
  .Seccion_categoria {
    width: 95%;
  }
  a {
    color: #222;
    font-weight: bold;
  }
  .categoria_campo:hover {
    transform: unset;
    background-color: rgba(255, 255, 255, 0.589);
  }
  label {
    margin-top: 1rem;
    font-size: 20px;
    letter-spacing: unset;
  }
  input {
    border: 2px solid rgb(200, 166, 166);
    margin-top: 1rem;
    width: 95%;
    min-height: 10rem;
        border-radius: 5px;

  }
  input::placeholder {
    font-size: 15px;
    text-transform: uppercase;
    
  }
  .request {
    margin-bottom: 10rem;
    height: 10rem;
    width: 95%;
  }
  .seleccion {
    flex-direction: column;
    padding: 5px;
    gap: 2rem;
    margin: auto;
    margin-bottom: 5rem;
    background: unset;
    border: unset;
      box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
    padding: 10px;
  }

  button {
    background-color: rgb(158, 223, 245);
    width: 100%;
    padding: 30px;
    border: none;
  }
  button:hover {
    transform: scale(1.05);
  }
  .categoria_title {
    padding: 5px;
    letter-spacing: unset;
    font-size: 15px;
    width: 95%;
    margin-bottom: 10px;
  }
  .contenedor_general {
    width: 95%;
    box-shadow: none;
  }
}
.contenedor_general {
  width: auto;
  max-width: 90%;
  margin: 1rem auto;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  padding: 5px;
}
#REcom {
  color: wheat;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
}
